<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{%static "main.css" %}" rel="stylesheet">
    <title> {% block title %} {% endblock %} :: iZюм </title>

</head>
<body>
<div id="header">
    <h1>Список товаров</h1>
</div>
<div id="leftmenu">

    <ul>
        {% for cat in cats %}
        <li><a href="/goods/{{ cat.id }}/"> {{cat.name}} </a></li>
        {%endfor %}
    </ul>
</div>

<div id="main">
    {% block main %}
    {%endblock%}
</div>
<div id="footer">
    <p>Все права защищены</p>
</div>
</body>
</html>
